﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    #Books {
        width: 95%;
        height: 200px;
        margin-top: 10px;
        margin-left: 30px;
        position: relative;
        -moz-box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.46);
        -webkit-box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.46);
        box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.46);
        border: 1px solid black;
    }

    #BookShelf {
        display: block;
        position: relative;
        z-index: 100;
        margin-top: 140px;
        margin-left: 30px;
        width: 400px;
        height: 50px; /*50px*/
        background-image: url(./../Themes/flatly/img/img/BookShelf.PNG);
        background-repeat: no-repeat;
        border: 1px solid rgba(0, 0, 0, 0.13);
    }

    #book {
        z-index: 100;
        width: 340px;
        height: 110px;
        margin-top: -75px;
        margin-left: 27px;
    }

        #book img {
            z-index: 5;
            width: 75px;
            height: 100px;
            margin-left: 2%;
            -moz-box-shadow: -5px 0px 7px rgba(0, 0, 0, 0.46);
            -webkit-box-shadow: -5px 0px 7px rgba(0, 0, 0, 0.46);
            box-shadow: -5px 0px 7px rgba(0, 0, 0, 0.46);
        }
</style>









<!------------Start of Books Panel ------------------------------------->
<div class="col-md-5">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Books </h3>
        </div>
        <div class="panel-body">
            <!--------------Start of Books--------->
           

            <div id="Books">



                <div id="BookShelf">

                    <div id="book">
                        <img src="../../Themes/flatly/img/img/img(1).jpg" alt="451" class="book">
                        <img src="../../Themes/flatly/img/img/img (2).jpg" alt="image2">
                        <img src="../../Themes/flatly/img/img/img (3).jpg" alt="image3">
                        <img src="../../Themes/flatly/img/img/img (4).jpg" alt="image4">

                    </div>

                </div>


            </div> 





            <!--------------End of Books----------->
        </div>
    </div>
</div>
<!------------End of Books Panel ------------------------------------->  