﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />

<div class="col-md-5 col-md-offset-3 alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h1>Well done!</h1> You had successfully logged in.
</div>



<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
