﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<div class="col-md-5 col-md-push-1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Favorite Web Sites</h3>
        </div>
        <div class="panel-body">

            <table class="table table-striped table-responsive table-fullborder">

                <thead>
                    <tr class="info">
                        <th class="col-md-4">Title</th>
                        <th class="col-md-3">URL</th>
                    </tr>
                </thead>

                <tr>
                    <td>Form to Enter Name</td>
                    <td><a href="~/form">Form to Enter Name</a></td>
                </tr>

                <tr>
                    <td>Web Developer Checklist</td>
                    <td><a href="http://webdevchecklist.com/">WebDevCheckList.com</a></td>
                </tr>

                <tr>
                    <td>Asp.Net Official Website</td>
                    <td><a href="http://asp.net">Asp.Net</a></td>
                </tr>

            </table>
        </div>
    </div>
</div>

</div>
<!---End of First Row-->
