﻿@{
    ViewBag.Title = "Home Page";
}


@{

    if (Session["Theme"] == null & Request.Cookies["Theme"] == null)
    {
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Would you like to change this site's theme? </h4>
            <p>
                You can by clicking yes:
                <a href="@Url.Content("~/Home/Settings")" class="alert alert-link"> Yes?</a>
            </p>
            
           
           

        </div>
     }

}


<div class="row">

    <!-----------Info Panel---------------------->
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Information</h3>
            </div>
            <div class="panel-body">
                <img class="padding-right img-styled" src="../../Themes/flatly/img/f1.png" alt="" align="left" />
                <div class="row">
                    <div class="">
                        <ul class=" list-unstyled">
                            <li> <b>Name:</b>  Brian K. Davis</li>
                            <li><b>  Age:</b>  33</li>
                            <li><b>Occupation:</b> Asp.Net C# Web Developer </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----End of Panel------------------------>

 </div>   



<div class="row">


    <!------------Start of Timeline Panel ------------------------------------->
    <div class="col-md-5 col-md">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Life History</h3>
            </div>
            <div class="panel-body">
                <!--------------Start of Timeline--------->
                
                <ul id="issues">
                    <li id="1981">
                        <img src="../../Themes/flatly/img/timeline/images/born.jpg" width="120" height="120" />
                        <h1>January 28, 1981</h1>
                        <p>Born in Houston,Texas</p>
                    </li>
                    <li id="1998">
                        <img src="../../Themes/flatly/img/timeline/images/MEP.jpg" width="146" height="146" />
                        <h1>June 14,1998</h1>
                        <p>Enlisted in the Army through the Delay Entry Program (DEP)</p>
                    </li>
                    <li id="1999">
                        <img src="../../Themes/flatly/img/timeline/images/High-School-Graduation.jpg" width="120" height="120" />
                        <h1>May 25,1999</h1>
                        <p>Graduated From High School</p>
                    </li>
                    <li id="June-1999">
                        <img src="../../Themes/flatly/img/timeline/images/Ft-Jackson.jpg" width="120" height="120" />
                        <h1>June 14, 1999</h1>
                        <p>Went to Basic Training at Fort Jackson, SC</p>
                    </li>
                    <li id="Sept-1999">
                        <img src="../../Themes/flatly/img/timeline/images/AIT.jpg" width="120" height="120" />
                        <h1>September 1999</h1>
                        <p>Went to Advanced Individual  Training (A.I.T) at Corry Station NTTC Pensacola,FL </p>
                    </li>
                    <li id="2000">
                        <img src="../../Themes/flatly/img/timeline/images/Ft-Shafter.PNG" width="120" height="120" />
                        <h1>April 2000</h1>
                        <p>1st Duty Station Ft.Shafter, Hawaii worked at Camp Smith, Hawaii</p>
                    </li>
                    <li id="2001">
                        <img src="../../Themes/flatly/img/timeline/images/Kunia.jpg" width="120" height="120" />
                        <h1>September 01, 2001</h1>
                        <p>2nd Duty Station at Kunia Regional Signal Operations Center (KRSOC) aka "The Tunnel" located at Kunia,Hawaii</p>
                    </li>
                    <li id="2004">
                        <img src="../../Themes/flatly/img/timeline/images/Ft-Meade.jpg" width="120" height="120" />
                        <h1>May 2004</h1>
                        <p>3rd Duty Station NSA Headquarters aka "The MotherShip" located at Fort Meade, Maryland</p>
                    </li>
                    <li id="Oct-2005">
                        <img src="../../Themes/flatly/img/timeline/images/ETS.PNG" width="120" height="120" />
                        <h1>October 20, 2005</h1>
                        <p>End Term of Service (ETS) from the Army did not reenlist. </p>
                    </li>
                    <li id="2009">
                        <img src="../../Themes/flatly/img/timeline/images/Self-Employment.png" width="120" height="120" />
                        <h1>Self Employment Work</h1>
                        <p>
                            Search Engine Evaluator for Google through Leapforce
                            and a Title QA for Demand Studios
                        </p>
                    </li>

                    <li id="2012">
                        <img src="../../Themes/flatly/img/timeline/images/ASU.PNG" width="120" height="120" />
                        <h1>Feburary 2012</h1>
                        <p>
                            Enrolled at ASU For the Bachelor of Science in the
                            Information Systems Degree Program.
                        </p>
                    </li>

                    <li id="May-2012">
                        <img src="../../Themes/flatly/img/timeline/images/BloggersOnline.PNG" width="120" height="120" />
                        <h1>May 2012</h1>
                        <p>Became the owner of the Web Hosting Company BloggersOnline.Com</p>
                    </li>


                    <li id="2014">
                        <img src="../../Themes/flatly/img/timeline/images/Studing.PNG" width="120" height="120" />
                        <h1>March 2014</h1>
                        <p>Currently a Senior Year at ASU working on completing the Bachelor of Science Information Systems Degree Program.</p>
                    </li>







                    <!--------------End of Timeline----------->
</div>
        </div>
    </div>
    <!------------End of Timeline Panel ------------------------------------->
    

</div>
