﻿@model PersonalWebsite.Models.LoginModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{

    if (Session["UserName"] == "Invalid")
    {
        <div class="row">
            <div class="col-md-5 alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Oh snap You Entered in the Wrong Login Info!</strong>
                <br />
                <p>Please try submitting again.</p>
            </div>
        </div>
       <div class="clearfix"></div>
    }

    else if (Session["UserName"] == null)
    {
       <div class="row">
           <div class="col-md-5 alert alert-dismissable alert-info">
               <button type="button" class="close" data-dismiss="alert">×</button>
               <strong>It appears that your login info was not saved in your cookie.</strong>
               <br />
               <p>Please Login Below.</p>
           </div>
      </div>
     <div class="clearfix"></div>
    }


}

<h2>@ViewBag.Title</h2>


<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            
@using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
  {
                @Html.AntiForgeryToken()
                
               
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
    
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                
             
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="reset" value="Clear" class="btn btn-primary" />
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
                
            }
        </section>
    </div>
    
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

