﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    img 
    {
        width:150px;
        height:150px;
    }
</style>




<h2>Photos </h2>

<div class="col-md-10">

    <div class="col-md-5">
        <img class="img-thumbnail" src="../../Themes/flatly/img/photos/1.jpg" alt="" width="100" height="100" />
        <img class="img-thumbnail" src="../../Themes/flatly/img/photos/2.jpg" alt="" />
    </div>

    <div class="col-md-5">
        <img class="img-thumbnail" src="../../Themes/flatly/img/photos/3.jpg" alt="" />
        <img class="img-thumbnail" src="../../Themes/flatly/img/photos/4.jpg" alt="" />
    </div>

    <div class="col-md-5">
        <img class="img-thumbnail" src="../../Themes/flatly/img/photos/5.jpg" alt="" />
        <img class="img-thumbnail" src="../../Themes/flatly/img/photos/6.jpg" alt="" />
    </div>

</div>