﻿@model PersonalWebsite.Models.SiteModels


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br/>

<h2>Change Site Theme </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
 
    <div class="form-inline">
        <div class="well bs-component col-md-10 col-md-offset-0 shadow">
          
            
            <div class="col-md-7 form-group">
                @Html.EnumDropDownListFor(model => model.ThemeSelect, htmlAttributes: new { @class ="col-md-5 form-control" })
                    
                <input type="submit" class="col-md-5 col-md-offset-1 btn btn-default" value="Change Theme" />

                </div>
            </div>


        </div>
   
       
}    
