#timelineContainer * {
    margin: 0;
    padding: 0;
    
}

#timelineContainer {
    /*z-index:200;*/
    background: #000;  /*#222*/
    font-family: Georgia, serif;
    color: #fff;
    font-size: 14px;
    width: 490px; /*800px*/
    height: 230px; /*350px*/

   border: 1px solid black;
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
box-shadow: 0 1px 5px rgba(0,0,0,0.75);


    
   
}

    #timelineContainer a {
        color: #ffffcc;
        text-decoration: none;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        transition: 0.5s;
    }

        #timelineContainer a:hover,
        #timelineContainer a.selected {
            color: #ffcc00;
        }

    #timelineContainer h1, h2, h4, h5, h6 {
        text-align: center;
        color: #ccc;
        -webkit-text-shadow: #000 1px 1px 2px;
        text-shadow: #000 1px 1px 2px;
        margin-bottom: 5px;
    }

    #timelineContainer h1 {
        font-size: 14px; /*18px
    }

    #timelineContainer h2 {
        font-size: 12px; /*14px*/
    }



#timeline {
    width: 460px; /*800px*/
    height: 230px; /*350px*/
    overflow: hidden;
    margin: 0px auto;   /*100px*/
    position: relative;
    background: url('../../Themes/flatly/img/timeline/images/dot.gif') left 45px repeat-x;
}

#dates {
    width: 700px; /*800px*/
    height: 50px; /*60px*/
    overflow: hidden;
}

    #dates li {
        list-style: none;
        float: left;
        width: 100px;
        height: 50px; /*50px*/
        font-size: 24px;
        text-align: center;
        background: url('../../Themes/flatly/img/timeline/images/biggerdot.png') center bottom no-repeat;
    }

    #dates a {
        line-height: 30px; /*38px*/
        padding-bottom: 10px;
        font-size: 16px;
    }

    #dates .selected {
        font-size: 30px; /*38px*/
    }

#issues {
    width: 200px; /*800px*/
    height: 200px; /*350px*/
    overflow: hidden;
}
    /*Each Slide*/
    #issues li {
        width: 420px; /*800px*/
        height: 250px; /*350px*/
        list-style: none;
        float: left;
    }

        #issues li.selected img {
            -webkit-transform: scale(1.1,1.1);
            -moz-transform: scale(1.1,1.1);
            -o-transform: scale(1.1,1.1);
            -ms-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);
        }

        #issues li img {
            /*z-index:250;*/
            float: left;
            margin: 15px 30px 60px 50px; /*margin: 10px 30px 10px 50px;*/
            background: transparent;
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); /* IE 6 & 7 */
            -ms-zoom: 1;
            zoom: 1;
            -webkit-transition: all 2s ease-in-out;
            -moz-transition: all 2s ease-in-out;
            -o-transition: all 2s ease-in-out;
            -ms-transition: all 2s ease-in-out;
            transition: all 2s ease-in-out;
            -webkit-transform: scale(0.7,0.7);
            -moz-transform: scale(0.7,0.7);
            -o-transform: scale(0.7,0.7);
            -ms-transform: scale(0.7,0.7);
            transform: scale(0.7,0.7);

            border: 2px solid rgba(255, 255, 255, 0.92);
            /*position: relative;*/
             -moz-box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.46);
           -webkit-box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.46);
             box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.46);


        }

        #issues li h1 {
            display: block;
            width: 400px;
            height: 30px;
            color: #ffcc00;
            font-size: 20px; /*48px*/
            margin: 5px 0px; /*margin: 20px 0;*/
            margin-left: -10px;
            -webkit-text-shadow: #000 1px 1px 2px;
            text-shadow: #000 1px 1px 2px;
            padding-left: -10px;
        }

        #issues li p {
            width: 310px;
            height: 115px;
            font-size: 14px;
            margin-left: 80px; /*70px*/
            font-weight: normal;
            line-height: 22px;
            -webkit-text-shadow: #000 1px 1px 2px;
            text-shadow: #000 1px 1px 2px;
        }

#grad_left,
#grad_right {
    width: 100px; /*100px*/
    height: 350px; /*350px*/
    position: absolute;
    top: 0;
}

#grad_left {
    left: 0;
    /*background: url('../../Themes/flatly/img/timeline/images/grad_left.png') repeat-y;*/
   
}

#grad_right {
    right: 0;
    /*background: url('../../Themes/flatly/img/timeline/images/grad_right.png') repeat-y;*/
}

#next,
#prev {
    position: absolute;
    top: 0;
    font-size: 70px;
    top: 170px;
    width: 22px;
    height: 38px;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

    #next:hover,
    #prev:hover {
        background-position: 0 -76px;
    }

#next {
    right: 0;
    background-image: url('../../Themes/flatly/img/timeline/images/next.png');
}

#prev {
    left: 0;
    background-image: url('../../Themes/flatly/img/timeline/images/prev.png');
}

    #next.disabled,
    #prev.disabled {
        opacity: 0.2;
    }
