﻿body {
    padding-top: 50px;
    padding-bottom: 30px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:30px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.shadow
{
z-index:300;
-moz-box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.46);
-webkit-box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.46);
box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.46);
margin-top:7%;
margin-bottom:5%;
}

.bordered
{
 border:1px solid black;
}