﻿@model PersonalWebsite.Models.GuessBook

@{
    ViewBag.Title = "Guest Book";
}


<style>

.well-global,#trackbacks { background-color: #ffffff; padding: 4%; margin-bottom: 20px; border-radius: 6px; box-shadow: 0 1px 2px rgba(0,0,0,0.1); }
.well-global .well-global-title { margin: 0; font-weight: 700; margin-bottom: 20px; border-bottom: 1px solid #eeeeee; padding-bottom: 20px; }
.well-global .well-global-title h3 { margin: 0; font-weight: 700; }

/*[04.comment-item]*/
.comment-item .comment-content { border: 1px solid #CCC; border-radius: 4px; padding: 2%; margin-bottom:9px !important }
.comment-item .comment-gravatar { position: relative; }

.comment-item .comment-gravatar img { border-radius: 4px; width: 85px; height:85px; }

.comment-item .comment-header { border-bottom: 1px solid #EEE; padding-bottom: 5px; }
.comment-item .comment-header h4 { font-weight: bold; font-size: 18px; color: #333; }
.comment-item .comment-header h4 a { color: #333; }
.comment-item .comment-content.self { background-color: #ebffe5; border-color: #c0e0b2 !important; }
.comment-item .self .comment-header { border-bottom-color: #c0e0b2; }
.comment-item .self .comment-header h4 a,
.comment-item .self .comment-header h4 { color: #376f1d !important; }
.comment-item .self a { color: #74af5a; }
.comment-item .self .comment-header .text-uppercase { color: #c0e0b2; }
.comment-item .comment-form { border: 1px solid #CCC; margin: 15px 0; }
.comment-item .carrow { background: url(../images/carrow.png) no-repeat 0 0; width: 9px; height: 17px; position: absolute; right: -11px; top: 14px; z-index: 999; }
.comment-item .self .carrow { background: url(../images/sarrow.png) no-repeat 0 0 !important; }
#commentlist .media, #commentlist  ul, #commentlist  ol { margin:4 !important;}

/*[05.comment-form]*/
.comment-form { }
#comment-form .success { background: #27ae60; border-radius: 4px; color: #fff; display: block; padding: 15px; }
.comment-form .comment-menu { }
.comment-form .comment-menu a { padding: 0 !important; }
.comment-form .comment-menu a span { padding: 2px 7px; min-width: 70px; }
.comment-form .comment-preview { height: auto !important; }
.comment-form .comment-preview .comment-content { border: none; }
.comment-form .comment-preview .comment-header small { display: none; }

</style>


<h2>Guest Book</h2>


<div class="well col-md-10">
  <div class="well-global">
  
      <h3 id="comment" class="well-global-title"> Recent Comments  </h3>   @*Number of Comments?*@
     

    
    @foreach (var item in (IEnumerable<PersonalWebsite.Models.GuessBook>)ViewData["Comments"])
    {
       
        
        <div id="commentlist" style="display: block" class="">
             <ul id="id_8379" class="media-list">
                <li class="media comment-item">
                    <div class="pull-left comment-gravatar ">
                        <img src="http://medialoot.com/images/thumbs/178x116_Avatar_Silhouette_Pack_800x518-2.jpg"/>
                        <div class="carrow"></div>
                    </div>

                    <div class="media-body">
                        <div class="comment-content">
                            <div class="comment-header clearfix">
                                <h4 class="media-heading pull-left"><span class="fn">@Html.DisplayFor(modelItem => item.Name) </span></h4>
                                <small class="pull-right text-muted text-uppercase"> @Html.DisplayFor(modelItem => item.DateAdded) </small>
                            </div>
                         @Html.DisplayFor(modelItem => item.Message)  
                            <div class="text-right reply-to"></div>
                        </div>

                        <div class="media" id="replies_83791d35-bac7-493e-babd-052c0d54e57b" style="display:none;"></div>
                    </div>
                </li>
            </ul>
        </div>
    }
      <div class="media" id="replies_83791d35-bac7-493e-babd-052c0d54e57b" style="display:none;"></div>
      <div class="clearfix"></div>

 </div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <div class="well">
            <div id="comment-form">
               <div class="comment-form well-global">
                    <div class="well-global-title clearfix">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <h3 class="pull-left" id="addcomment">Please Leave A Comment Below</h3>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-2 control-label" })

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtName" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" id="commentCompose">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "col-md-2 control-label" })

                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Message, htmlAttributes: new { @class = "form-control", @cols = "40", @rows = "5" })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>
                           <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save Comment" class="btn btn-primary" />
                                </div>
                          </div>
                    </div>
                </div>
           </div>
       </div>

}

</div>

















    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
